    div#contenitore{
        width: 900px;
        margin:0 auto;
    }
    div#figlio{
        text-align: center;
        background-color: rgba(237,237,237,255);
        width: 900px;
        border-bottom: 2px outset rgba(212,151,32,255);
    
    }
    h2{
       text-align: left;
       color: rgba(212,151,32,255); 
       font-size: 170%;
    }
    h3{
        text align:left;
        font-style:italic;
    }
    p{
        width: 900px; 
    }
    div#figlio2{
        border-top: 1px outset rgba(212,151,32,255);
        text-align: center;
        width: 900px;
    }