    div#contenitore{
        width: 700px;
        margin:0 auto;
    }
    div#figlio{
        text-align: center;
        background-color: rgb(230, 230, 230);
        width: 700px;
        border-bottom: 2px outset rgb(178, 189, 80);
    
    }
    h2{
       text-align: left;
       color: rgb(216, 184, 0); 
       font-size: 170%;
    }
    h3{
        text align:left;
        font-style:italic;
    }
    p{
        width: 700px; 
    }
    div#figlio2{
        border-top: 1px outset rgb(178, 189, 80);
        text-align: center;
        width: 700px;
    }